<div class="container">
  <div class="intro">
    <app-devider></app-devider>
    <div class="title text-center">
      <h1 class="pt-2 pb-4">Famous Places</h1>
      <div class="row m-0">
        <div class="col-lg-4 card-mobile">
          <div class="card paris">
            <div class="card-header">
              <h2>{{ place }}</h2>
            </div>
            <div class="card-body">
            </div>
            <div class="rating pt-4 pb-2">
              <p>Rating:
                <ngb-rating [(rate)]="currentRate"></ngb-rating>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 card-mobile">
          <div class="card paris">
            <div class="card-header">
              <h2>{{ place }}</h2>
            </div>
            <div class="card-body">
            </div>
            <div class="rating pt-4 pb-2">
              <p>Rating:
                <ngb-rating [(rate)]="currentRate"></ngb-rating>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 card-mobile">
          <div class="card paris">
            <div class="card-header">
              <h2>{{ place }}</h2>
            </div>
            <div class="card-body">
            </div>
            <div class="rating pt-4 pb-2">
              <p>Rating:
                <ngb-rating [(rate)]="currentRate"></ngb-rating>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
