$colors: (facebook: #365899,
twitter: #006dbf,
google: #d93025,
youtube: #ff0000,
instagram: linear-gradient(to bottom right, #8a3ab9 10%, #fbad50 90%),
newfresh: #4ec3ca);

@function color($type) {
  @return map-get($colors, $type);
}


.nav-header {
  // background-image: linear-gradient(90deg, color(newfresh), #b4e0df);
  background: color(newfresh);
  color: #fff;


  p {
    cursor: pointer;
  }

}

.fixednav {
  position: fixed !important;
  top: 0px !important;
  transition-duration: .3s;
}

.activelink {
  background: color(newfresh);
  color: #fff !important;
}


.navbar-pure-css {
  position: absolute;
  top: 40px;
  left: 0;
  padding: 0 100px;
  background: white;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  z-index: 1;

  .logo {
    cursor: pointer;
    font-size: 35px;
    font-weight: 600;
    color: color(newfresh);
    text-align: center;
    float: left;
    line-height: 65px;

    &:hover {}
  }

  nav {
    float: right;
    height: 100%;

    ul {
      display: flex;
      margin: 0;
      padding: 0;
      color: color(newfresh);

      li {
        cursor: pointer;
        list-style: none;

        &:hover,
        &:active {
          background: color(newfresh);
          color: #fff !important;
          transition-duration: .3s;
        }

        a {
          height: 50px;
          line-height: 65px;
          font-weight: 500;
          margin: 0 20px;
          text-decoration: none;
          padding-bottom: 2px;

          &:hover,
          .active {
            // color: color(newfresh);
            // border-bottom: solid 2px color(newfresh);
            // transition-duration: .2s;
          }
        }
      }
    }
  }

  .menu-toggle {
    color: color(newfresh);
    float: right;
    line-height: 65px;
    font-size: 24px;
    display: none;
    cursor: pointer;
  }

  app-transform-button {
    display: none;
    font-size: 80%;
  }


}

.dropdown-option {
  span {
    position: absolute;
    height: 15px;
    width: 15px;
    top: -8px;
    left: 49px;
    transform: rotate(45deg);
    transition-duration: .2s;
    background: #fff;
    border-top: solid 1px color(newfresh);
    border-left: solid 1px color(newfresh);
  }
}

.formpopup {
  display: none;
  position: fixed;
  z-index: 9;
  top: 20%;
  left: 220px;

  button {
    color: white;
    border-radius: 0px;
    position: relative;
    left: 911px;
    background: black;
    height: 35px;
    width: 35px;
  }
}

.formactive {
  display: block !important;
  transition-duration: .3s;
}