<div class="login-form">
  <div class="row">
    <div class="col-lg-8">
      <div class="login-normal p-4 h-100  w-100">
        <form (ngSubmit)="onSubmit(formSignIn)" #formSignIn="ngForm" class="pl-4">
          <h2 class="pb-2"> <i class="fas fa-key pr-2"></i>Login to your account</h2>
          <p>Access your favorite listings, matching alerts, discounted property alerts, and more.</p>
          <div class="depart wheretogo">
            <input type="text" placeholder="Username" [(ngModel)]="username" name="username" class="w-100 p-2" required
              minlength="6" appForbiddenName="letuankhoi" #name="ngModel">
            <p class="form-validation m-0" *ngIf="formSignIn.controls?.username?.errors?.minlength">Username must be at
              least 6 characters long.</p>
            <p class="form-validation m-0" *ngIf="formSignIn.controls?.username?.invalid && (formSignIn.controls?.username?.dirty || formSignIn.controls?.username?.touched) && !formSignIn.controls?.username?.errors?.minlength">Email
              is required!</p>
          </div>
          <div class="depart wheretogo pt-3 ">
            <input type="password" placeholder="Password" [(ngModel)]="password" name="password" class="w-100 p-2"
              required minlength="6">
            <p class="form-validation m-0" *ngIf="formSignIn.controls?.password?.errors?.minlength">Password must be at
              least 6 characters long.</p>
            <p class="form-validation m-0" *ngIf="formSignIn.controls?.password?.invalid && (formSignIn.controls?.password?.dirty || formSignIn.controls?.password?.touched) && !formSignIn.controls?.password?.errors?.minlength">Password
              is required!</p>
          </div>
          <div class="check-box pt-2 pl-0 col-12">
            <div class="row">
              <div class="col-6">
                <input type="checkbox" id="checked" class="regular-checkbox" /> <label class="pl-2" for="">Remember
                  me</label>

              </div>
              <div class="col-6 forgot-pass">
                <label for="" class="float-right">Forgot password?</label>
              </div>
            </div>
          </div>
          <div class="submit pt-3 pb-2">
            <button [disabled]="formSignIn.controls?.username?.invalid" class="btn btn-primary font-weight-bold">
              Log-in
            </button>
            <a href="" class="pl-4">No Account? Sign Up Here</a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="login-pro p-4 h-100 w-100">
        <form action="">
          <h2 class="pb-2">Or Login with?</h2>
          <p>Log-in with another method.</p>
          <div class="lg-fb pt-4 pb-2">
            <button class="btn w-100" (click)="socialSignIn('facebook')">
              <i class="fab fa-facebook-f pr-2"></i>Login with Facebook
            </button>
          </div>
          <p class="m-0 text-center">or</p>
          <div class="lg-gg pt-2">
            <button class="btn w-100" (click)="socialSignIn('google')">
              <i class="fab fa-google pr-2"></i>Login with Google
            </button>
          </div>
        </form>
        <div class="logo float-right pt-2"><i class="fas fa-water p-2"></i></div>
      </div>
    </div>
  </div>
</div>
