/* You can add global styles to this file, and also import other style files */

app-navbar {
  .dropdown-menu {
    top: 35px !important;
    width: 70%;
    border: solid 1px #4ec3ca;
    transition-duration: .2s;
  }

  button {
    color: #4ec3ca !important;

    &:active{
      background: gainsboro !important;
    }

    &:hover {
      background: #dbf7f7 !important;
    }
  }
}
